*

!.gitignore
!README.md
!Assets/
!Assets/Scripts/
!Assets/Scripts/*.cs
!Assets/Scenes/
!Assets/Scenes/*.unity
!ProjectSettings/
!ProjectSettings/*.asset

[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/

UserSettings/

.vscode/
*.csproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.opendb
*.VC.db

*.pidb.meta
*.pdb.meta
*.mdb
*.mdb.meta
*.unitypackage

crash-reports/
logs/
